URxvt.scrollBar: false
URxvt.matcher.button:   1
URxvt.perl-ext-common:      default,clipboard,url-select
URxvt.url-select.launcher:  /usr/bin/firefox
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-c:	    perl:clipboard:copy
URxvt.keysym.M-v:	    perl:clipboard:paste
URxvt.keysym.M-C-v:	    perl:clipboard:paste_escaped
URxvt.internalBorder:15
URxvt.externalBorder:0
URxvt.geometry:				 100x24


!jmk-x11-fonts package from AUR on archlinux
urxvt*font: -*-termsyn-medium-*-*-*-11-*-*-*-*-*-*-*
urxvt*boldFont: -*-termsyn-bold-*-*-*-11-*-*-*-*-*-*-*
!urxvt*font: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont:-*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*

!Foreground & Background
*foreground:	#fffdf0
*background:	#1e1e1e

!black
*color0:  #717375
*color8:  #717375

!red
*color1:  #bbe4e0
*color9:  #4eaba2

!green
*color2:  #def1cd
*color10: #bbf18b

!yellow
*color3:  #e5f18b
*color11: #d0e81e

!blue
*color4:  #76d7ce
*color12: #bad7d4

!magenta
*color5:  #efe4f1
*color13: #e4a8f1

!cyan
*color6:  #bbe4e0
*color14: #4eaba2

!white
*color7:  #fffdf0
*color15: #dedacd

